html,body{
    background-image: url('../img/backimage.jpg');
    height: 100%;
    width: 100%;
    font-family:'Poppins', sans-serif;
    color: #222;
}

.table-bordered{
    padding: 5em;
    width: 90%;
}

#movieid{
    width: 20%;
}

#title{
    width: 30%;
    text-align: center;
}

#category{
    width: 30%;
}
#rating{
    width: 10%;
}

#year{
    width: 10%;
}
