html,body{
    height: 100%;
    width: 100%;
    font-family:'Poppins', sans-serif;
    color: #222;
}

#movielist{
    background-image: url('../img/hatter1.jpg');
    position: fixed;
    display: block;
    top: 10%;
    left: 0;
    height: 60%;
    width: 60%;
}

#plus{
    position: absolute;
    top: 20%;
    left: 15%;
}

#delete{
    position: absolute;
    top: 20%;
    left: 35%;
}

#search{
    position: absolute;
    top: 20%;
    left: 85%;
}

#movieid{
    width: 20%;
}

#title{
    width: 30%;
    text-align: center;
}

#category{
    width: 30%;
}
#rating{
    width: 10%;
}

#year{
    width: 10%;
}
